@media only screen and (max-width: 1024px) {


  //HEADER RESPONSIVENES //

  .header-nav{
    ul{

      display: none !important;

    }

  }
  .mobile-left{
    display: block !important;
  }
  .header-container-inner{
    height: 60px !important;
    margin: 0px 15px;
    padding: 0px !important;



    .header-right{
      margin-right: 0 !important;

      >div:nth-child(1){
        display: none;
      }
      >div:nth-child(2){
        display: none;
      }
      >div:nth-child(3){
        display: none;
      }
      >div:nth-child(4){
        a{
          padding: 0 !important;

          span{
            display: none;
          }
        }
      }
    }
  }

  //HOME-HERO RESPONSIVENES //
  .hero{

    padding: 0px 15px !important;
    display: flex;
    flex-wrap: nowrap !important ;
    border-bottom-color: transparent !important ;
  }
  .left-inner{
  margin-right: 0px !important; 
  margin-top: 0px !important;
  }
  .mega-nav{
    padding: 0 !important;
  }
   //HOME-SIZE RESPONSIVENES //
   .bySize{
    padding: 0px 15px !important;
   }
   .video-wrapper{
      >div:first-child{
        flex: 0 0 calc(100% / 2) !important;
          max-width: calc(100% / 2 - 20px) !important;
      }
      >div:nth-child(2){
        flex: 0 0 calc(100% / 2) !important;
        max-width: calc(100% / 2 - 20px) !important;
          }
      >div:last-child{
        display: none;
      }
     }
  //HOME-OVERLAP-GREEN RESPONSIVENES //
  .overlap-green{
    padding-top: 30px !important;


    .green-text{
      font-size: 36px !important;
    }

  }
    //HOME-OVERLAP-WHITE RESPONSIVENES //
    .overlap-white{
      padding: 0 15px !important;
    }
    //HOME-EXOTIC RESPONSIVENESS //
    .exotic{
      padding: 0px 15px !important;
    }
    .exotic-content {
      width: 100% !important;
      gap: 20px !important;

      .flower {
        flex: 1 1 calc(50% - 30px) !important;
      }
  }

     //HOME-ARTICLE RESPONSIVENESS //

     .article{

      padding: 0 15px;
     }
     .article-right{
      display: flex;
      align-items: flex-start !important;
      flex-direction: column !important;
     }

      //HOME-INSTA RESPONSIVENESS //

      .insta-content{

        >div:nth-child(6){
          display: none !important;
        }
        >div:nth-child(5){
          display: none !important;
        }

      }

      .insta{
        padding: 0 15px !important;
      }


      //FOOTER 

      footer{
        padding: 0 15px !important;
      }

      .footer-big > div:last-child{
        flex-direction: column !important;
      }
      .footer-big-right > div:last-child{
        display: none !important;

      }

      .footer-big-right {
        margin-left: 0 !important;


        >div{
          display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
        }

      }
      .footer-big-left{
        display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border:  none !important;

      >div{
        display: flex !important;
        text-align: center;
      }

      >div:nth-child(3){
        form{
          flex-wrap: nowrap !important;
        }
      }
      }
      
}

@media only screen and (max-width: 990px){

   //HOME-HERO RESPONSIVENES //

   .hero {

    .hero-left-wrapper{
      display: none !important;


      border-right: 0px !important ;
      .hero-left{
        display: none !important;
      }

    }

   

    .hero-right{
      width: 100% !important;
      padding-left: 0 !important;
      border-left: 0px !important;

      margin-left: 0px !important;
    }


  .slide-text{
    bottom: 40px !important;
    left: 15px !important ;
    

    h4{
        font-size: 26px !important;
    }

    p{
        font-size: 14px !important;
    }

    .star-text{
        display: flex;
        flex-direction: column;

        h4{
            display: flex;
            justify-content:flex-start !important;
            align-items: flex-start !important;
            font-size: 14px !important;
            

            
        }
      
    
    }

  }

   }


}

@media only screen and (max-width: 768px){


  //HOME SIZE SECTION

  .video-wrapper{

    >div{


      video{
        height: 460px !important;
    }

    .overlay {
      position: absolute;
      bottom: 0 !important;
      height: 460px !important;
     


      .overlay-content{
          position:absolute;
          bottom: 0 !important;
     
      }
    }
    }
    >div:first-child{
      flex: 0 0 100% !important;
      max-width: 100% !important;
    }
    >div:nth-child(2){
      display: none !important;
        }
   
    
    
    }

  //OVERLAP SECTION RESPONSIVENESS
  .overlap-white{
    display: flex !important;
    flex-direction: column !important;
    gap: 0px !important;

    .overlap-left{
      width: 100% !important;
      order: 2 !important;
    }

    .overlap-right{
      height: 350px !important;
    }

  }

  //HOME-ARTICLE RESPONSIVENESS //

  .article-inside{
    display: flex;
    flex-direction: column !important;
  }

  .article-right{

    >div:first-child{
      h4{
        font-size: 22px !important;
      }
    }
  }

  .article-inside{
    display: flex;
    align-items: flex-start !important;
  }

  //HOME-INSTA RESPONSIVENESS

  .insta-content{

    >div:nth-child(4){
      display: none !important;
    }
    >div:nth-child(3){
      display: none !important;
    }

  }

  //FOOTER

  .footer-big-right{
    >div:last-child{
      display: none !important;
    }
  }

  .footer-big-content{
    display: flex;
    flex-direction: column !important;


    .footer-big-left{
      border-right: 0px  !important;
      display: flex !important;
      flex-direction: column !important;
      align-items: center;



      >div{
        text-align: center;
      }

      >div:nth-child(3){
        form{
          display: flex;
          flex-wrap: nowrap !important;
        }

      }
    }

  }

  .footer-slim{
    flex-direction: column;
    gap: 20px;


    >div{
      text-align: center;
    }
  }
}


//CONTACT PAGE STARTS//
@media only screen and (max-width: 1024px){

  .contact-hero{
    padding: 0 15px;


    h1{
      font-size: 22px !important;
    }
  }


  .left-1{
    font-size: 36px !important;
    line-height: 48px !important;
  }

  .address-content > div:last-child > div:nth-child(2){
    margin-right: 0px !important;
  }
}
@media only screen and (max-width: 768px){

  //CONTACT PAGE
  .contact-hero{
    padding: 0 15px;


    h1{
      font-size: 22px !important;
    }
  }


  .left-1{
    font-size: 36px !important;
    line-height: 48px !important;
  }

  .contact-answers{
    flex-direction: column !important;

    .answer-left{
      order: 2 !important;
      width: 100% !important;
    }
    .answer-right{
      width: 100% !important;
    }
  }


  .address-content{
    flex-direction: column !important;


    > div:first-child{
      align-items: center !important;

      span{

        font-size: 28px !important;

      }
      
    }

    > div:last-child{
     


      >div:last-child{
        display: none !important;
      }

    }
  }
}
//CONTACT PAGE ENDS//

//ABOUT PAGE STARTS//

@media only screen and (max-width: 1024px){
  .about-hero{
    padding: 0 15px;
  }

  .crazy-text{
    gap: 30px !important;
    flex-direction: column !important;

    .crazy-text-left{
      width: 100% !important;

      >div:first-child{
        line-height: 38px !important;
        font-size: 28px !important;
      }
    }
    .crazy-text-right{
      width: 100% !important;
    }
  }
  .crazy-title{
    font-size: 32px !important;
    line-height: 42px !important;
  }

  .crazy-text-right > div > div:first-child{
    line-height: 30px !important;
    font-size: 20px !important;

  }

 .last{
  display: none !important;

 }

}


//ABOUT PAGE ENDS//







