@media only screen and (max-width: 768px) {


    .bySize {
        width: 650px !important;
        margin-left: 15px !important;
 
    }

    .h4-wrapper {

        width: 650px !important;
    }
    
    .animated-video{
        width: 650px !important;
    }

    video {
        width: 650px !important;
    }
    .overlay {
        width: 650px !important;
    }

  } 