

$container-width: 1420px;
$button-heigt: 42px;



$botton-bg-color: #5E6821;
$text-title-color: #242424;
$green-border-color:rgba(94, 104, 33, 1);
$nav-color: #333;
$nav-color-hover: rgb(94,104,33);
$nav-color-active: rgb(94,104,33);
$nav-chevron-color: rgba(82, 82, 82, .45);