@use '../utils/variables' as v;
@use '../utils/mixins' as m;

.main-page-part{
    width: 100% !important;
    margin-right: auto !important;
    margin-left: auto !important;

   
    
}
.container{
    max-width: 1420px !important;
    @extend .main-page-part;
    
  

}
.row{
    display: flex !important;
    flex-wrap: wrap !important;
    align-items: flex-start !important;
    margin-bottom: 40px !important;

    
}