@use '../utils/variables' as v;
@use '../utils/mixins' as m;

body{
    background-color: rgba(246, 243, 237, 1);
    scroll-behavior: smooth;

}
header{
    margin-bottom: 40px;
    top: 0;
    z-index: 1000;
    transition: top 0.3s ease-in-out;
  
    .main-header{
        background-color: rgba(246, 243, 237, 1);

        .header-container{
            max-width: v.$container-width;
            width: 100%;
            margin-right: auto;
            margin-left: auto;

            .header-container-inner{
                height: 90px;
                border-color: v.$green-border-color;
                border-bottom-width: 2px;
                border-bottom-style: solid;

                @include m.putCenterFlex();
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;

            
                .header-left{
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    justify-content: flex-start;
                    margin-left: -10px;
                    flex: 1 1 0%;


                    .header-nav{
                        padding-inline: 10px;
                        flex: 1 1 auto;


                        ul{
                            color: v.$nav-color;
                            display: inline-flex;
                            flex-wrap: wrap;
                            justify-content: left;
                            list-style: none;
                            gap: 20px;

                          


                            > li:first-child{
                                position: relative;

                            }

                            > li {

                                a{
                                    text-decoration: none;
                                    
                                    
                                    
                                    span{
                                        color: v.$nav-color;
                                        height: 40px;
                                        font-weight: 600;
                                        font-size: 16px;
                                        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

                                    }
                                    i{
                                        color: v.$nav-chevron-color;
                                        font-size: 12px;
                                       
                                    }

                                }
                                
                            }
                        }

                        .mobile-left{
                            display: none;

                        
                            

                            > a{
                                color: v.$nav-color;

                                > i{
                                    font-size: 20px;
                                }
                            }
        
                            
        
                        }
                    }
                   

                       
                    }

                .header-center{
                    display: flex;
                    align-items: center;
                    flex-direction: row;

                    .logo{
                        padding-inline: 10px;

                        a{
                            text-decoration: none;
                            img{
                                max-width: 220px;
                                padding-top: 5px;
                                padding-bottom: 5px;
                            }
                        }
                    }
                }

                .header-right{
                    flex: 1 1 0%;
                    justify-content: flex-end;
                    margin-right: -10px;
                    display: flex;
                    align-items: center;
                    flex-direction: row;


                    >div:first-child{
                        color: v.$nav-color;
                    
                        >a {
                            @include m.putCenterFlex();
                            height: 40px;
                            color: v.$nav-color;
                            line-height: 1;
                            padding-inline: 10px;
                            text-decoration: none;
                             
                            > span:last-child{
                                @include m.putCenterFlex();
                                color: v.$nav-color;
                                height: 40px;
                                font-weight: 600;
                                font-size: 14px;
                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            }
                        }
                    }
                    >div:nth-child(2){
                        color: v.$nav-color;
                    

                        >a {
                            @include m.putCenterFlex();
                            height: 40px;
                            color: v.$nav-color;
                            line-height: 1;
                            padding-inline: 10px;
                            text-decoration: none;
                             
                            > i{
                                @include m.putCenterFlex();
                                color: v.$nav-color;
                                height: 40px;
                                font-size: 16px;
                            }
                        }
                    }
                    >div:nth-child(3){
                        color: v.$nav-color;
                     

                        >a {
                            @include m.putCenterFlex();
                            gap: 5px;
                            height: 40px;
                            color: v.$nav-color;
                            line-height: 1;
                            padding-inline: 10px;
                            text-decoration: none;
                             
                            > i{
                                @include m.putCenterFlex();
                                color: v.$nav-color;
                                height: 40px;
                                font-size: 16px;
                            }

                            span{
                                font-weight: 600;
                                font-size: 16px;
                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                
                            }
                        }
                    }
                    >div:nth-child(4){
                        color: v.$nav-color;

                        >a {
                            @include m.putCenterFlex();
                            gap: 5px;
                            height: 40px;
                            color: v.$nav-color;
                            line-height: 1;
                            padding-inline: 10px;
                            text-decoration: none;
                             
                            > i{
                                @include m.putCenterFlex();
                                color: v.$nav-color;
                                height: 40px;
                                font-size: 16px;
                            }

                            span{
                                font-weight: 600;
                                font-size: 16px;
                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                              
                            }
                        }
                    }
                }
            }


        }

    }
}
.scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: -50px; 
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 50;
    transition: right 0.3s ease-in-out;
  }
  
  .scroll-to-top i {
    font-size: 20px;
    color: #7c7a7a;
    z-index: 50;
    
  }
  
  .show-scroll-to-top {
    right: 30px; 
  }