@use '../utils/variables' as v;
@use '../utils/mixins' as m;



.insta{
    margin-bottom: 30px;
    .container-insta{
        width: 1420px !important;
        margin: 0 auto;
        width: 100%;

        .insta-title{
            margin-bottom: 30px;
            h4{
                line-height: 38px;
                font-size: 28px;
                color: #242424;
                font-weight: 500;
            }
        }
        .insta-content{
            width: 100%;
            height: 100%;
            z-index: 1;
            display: flex;
            gap: 30px;

            > div{
                flex: 1;

                > .img-wrapper{
                    width: 100%;

                    > img{
                        width: 100%;
                    }
                }

            }



        }
    }
}

