@use '../utils/variables' as v;
@use '../utils/mixins' as m;

.hero{
    padding-bottom: 50px;
    display: flex;
    border-bottom:  2px solid #5E6821;

    .hero-left{
        display: flex;
        align-items: center;
        border-right-width: 2px !important;
        padding-top: 0px !important;
       width: 30%;

      


       
        .left-inner{
            margin-right: 70px;
            margin-top: 80px;


            .mega-nav{
                flex-grow: 1;
                margin-right: 8px;
                display: flex;
                flex-direction: column;
                justify-content: center !important;
                padding-left: 15px;
                padding-right: 15px;
                width: 100%;
                ul{
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    li{
                        display: flex;
                        flex: 1 1 100%;
                        max-width: 100%;
                        width: 100%;
                        

                        a{
                            text-decoration: none;
                            font-size: 38px;
                            line-height: 1.7em;
                            font-weight: 300;
                            color: v.$nav-color;
                            display: flex;
                            align-items: center;
                            flex-direction: row;


                            img{
                                max-height: 18px;
                                order: 1;
                                margin-inline-start: 7px;
                            }

                            span{
                                font-weight: 500;
                            }
                        }

                       

                    }
                }
            }
        }

       
    }
    .swiper {

       margin-right: 0px;
        width: 70%;
        max-height: 580px;
        padding-left: 40px;
        cursor: pointer;
        border-left: #5e6821 solid 2px ;
       
    }
  
      .swiper-slide {
        font-size: 18px;
        background: #782424;
        display: flex;
        align-items: center;
        position: relative;


        > img {

       
        }

        .slide-text{
            color: white;
            position: absolute;
            bottom: 40px;
            left: 45px;
            max-width: 520px;
            margin-bottom: 20px;

            h4{
                line-height: 1.4;
                font-weight: 500;
                font-size: 36px;
            }

            p{
                font-size: 16px;
                color: rgba(214,213,210,0.9);
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight: 400;
            }

            .star-text{
                margin-top: 20px;
                display: flex;
                gap: 10px;

                .fourperson{
                    width: 115px;
                    height: 40px;
                   
                }

                h4{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 16px;
                    color: rgba(214,213,210,0.9);
                    gap: 5px;

                    
                }

                .green-btn{
                    padding: 5px 20px;
                    min-height: v.$button-heigt;
                    font-size: 13px;
                    position: relative;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    outline: none;
                    background-color: v.$botton-bg-color;
                    border: none;
                    color: white;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    
                }

                .star{
                    width: 103px ;
                    height: 30px ;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-top: 6px;
                }
            
            }
    
          }


          img {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            height: 580px;
    
          }
      }
    
}




