@use '../utils/variables' as v;
@use '../utils/mixins' as m;



.exotic {

    width: 1420px;
    margin: 0 auto;


    .exotic-title{

        border-bottom-width: 2px ;
        padding-bottom: 30px ;
        width: 100%;


        h4 {
            line-height: 38px;
            font-size: 28px;
            font-weight: 500;
        }
        
        > div {
            display: flex;
            justify-content: space-between;


            p{
                color: #777777;
                font-weight: 500;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }


            button{
                color: white;
                background-color: #5e6821;
                padding: 13px 20px;
                border: none;
            }
            
        }

    }

    .exotic-content{
        width: 1420px;
        margin: 0 auto;
        display: flex;
        gap: 40px;
        margin-bottom: 50px;
        flex-wrap: wrap;


        .flower {
            flex: 1;


            .flower-content-wrapper{
                display: flex;
                flex: 1;
                flex-direction: column;
                gap: 10px;
                position: relative;
                overflow: hidden;

            .product-image{

                position: relative;
                width: 100%;
                height: 100%;
                overflow: hidden;
                .img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                    transition: transform 0.5s ease, opacity 0.5s ease;


                }

                .main-image{
                    width: 100%;
                    height: 100%;
                }
                .zoom-image{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    object-fit: cover !important;
                    opacity: 0;
                    transform-origin: center center;
                    transition: transform 5s, filter 3s ease-in-out;
                    
                    transform: scale(1);
                }

            }

            .product-image:hover .zoom-image{
                
                transform: scale(2);
                opacity: 1;
            }
            .product-image:hover .main-image{
                opacity: 0;
            }

              
                .colors{
                    display: flex;
                    justify-content: center;
                    gap: 10px;


                    > div:first-child{
                        border: 2px solid rgb(0, 0, 0, 0.075);
                        
                        border-radius: 50%;
                        background-color: white;
                        width: 20px;
                        height: 20px;
                        display: flex;
                         justify-content: center;
                        align-items: center;


                        span{
                            display: block;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: rgb(31, 31, 31);
                            height: 14.5px;
                            width: 14.5px;
                            z-index: 10;

    
                        }
                        

                    }
                    > div:nth-child(2){
                        border: 2px solid rgb(0, 0, 0, 0.075);
                        
                        border-radius: 50%;
                        background-color: white;
                        width: 20px;
                        height: 20px;
                        display: flex;
                         justify-content: center;
                        align-items: center;


                        span{
                            display: block;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: #56717e;
                            height: 14.5px;
                            width: 14.5px;
                            z-index: 10;

    
                        }
                        

                    }
                    > div:last-child{
                        border: 2px solid rgb(0, 0, 0, 0.075);
                        
                        border-radius: 50%;
                        background-color: white;
                        width: 20px;
                        height: 20px;
                        display: flex;
                         justify-content: center;
                        align-items: center;


                        span{
                            display: block;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: wheat;
                            height: 14.5px;
                            width: 14.5px;
                            z-index: 10;

    
                        }
                        

                    }


                   


                }

                .flower-title{
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    font-size: 16px;
                    color: #333333;
                    font-weight: 500;

                }

                .star{
                    display: flex;
                    justify-content: center;
                    

                    img{
                        width: 90px;
                        height: 25px;
                    }
                }

                .price{
                    color: #5e6821;
                    font-weight: 600;
                    display: flex;
                    justify-content: center;
                    font-size: 16px;
                }

                .btn-div{
                    display: flex;
                    justify-content: center;
                    button{
                        padding: 5px 14px;
                        min-height: 36px;
                        font-size: 12px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #5e6821;
                        color: white;
                        border: none;
                    }
                }
               

            }
        }

 }
}