* {
  padding: 0;
  margin: 0;
  font-family: "Clash Display", sans-serif;
}

.main-page-part, .main-page-part .container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.main-page-part .container {
  max-width: 1420px;
}
.main-page-part .container .row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 40px;
}

body {
  background-color: rgb(246, 243, 237);
}

header {
  margin-bottom: 40px;
  top: 0;
  z-index: 1000;
}
header .main-header {
  background-color: rgb(246, 243, 237);
}
header .main-header .header-container {
  max-width: 1420px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 736px) {
  header .main-header .header-container {
    width: 652px !important;
  }
}
header .main-header .header-container .header-container-inner {
  height: 90px;
  border-color: rgb(94, 104, 33);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  header .main-header .header-container .header-container-inner {
    height: 60px;
  }
}
header .main-header .header-container .header-container-inner .header-left {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: -10px;
  flex: 1 1 0%;
}
header .main-header .header-container .header-container-inner .header-left .header-nav {
  padding-inline: 10px;
  flex: 1 1 auto;
}
header .main-header .header-container .header-container-inner .header-left .header-nav ul {
  color: #333;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: left;
  list-style: none;
  gap: 20px;
}
@media (max-width: 1024px) {
  header .main-header .header-container .header-container-inner .header-left .header-nav ul {
    display: none;
  }
}
header .main-header .header-container .header-container-inner .header-left .header-nav ul > li:first-child {
  position: relative;
}
header .main-header .header-container .header-container-inner .header-left .header-nav ul > li a {
  text-decoration: none;
}
header .main-header .header-container .header-container-inner .header-left .header-nav ul > li a span {
  color: #333;
  height: 40px;
  font-weight: 600;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header .main-header .header-container .header-container-inner .header-left .header-nav ul > li a i {
  color: rgba(82, 82, 82, 0.45);
  font-size: 12px;
}
header .main-header .header-container .header-container-inner .header-left .header-nav .mobile-left {
  display: none;
}
@media (max-width: 1024px) {
  header .main-header .header-container .header-container-inner .header-left .header-nav .mobile-left {
    display: block;
  }
}
header .main-header .header-container .header-container-inner .header-left .header-nav .mobile-left > a {
  color: #333;
}
header .main-header .header-container .header-container-inner .header-left .header-nav .mobile-left > a > i {
  font-size: 20px;
}
header .main-header .header-container .header-container-inner .header-center {
  display: flex;
  align-items: center;
  flex-direction: row;
}
header .main-header .header-container .header-container-inner .header-center .logo {
  padding-inline: 10px;
}
header .main-header .header-container .header-container-inner .header-center .logo a {
  text-decoration: none;
}
header .main-header .header-container .header-container-inner .header-center .logo a img {
  max-width: 220px;
  padding-top: 5px;
  padding-bottom: 5px;
}
header .main-header .header-container .header-container-inner .header-right {
  flex: 1 1 0%;
  justify-content: flex-end;
  margin-right: -10px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
header .main-header .header-container .header-container-inner .header-right > div:first-child {
  color: #333;
}
@media (max-width: 1024px) {
  header .main-header .header-container .header-container-inner .header-right > div:first-child {
    display: none;
  }
}
header .main-header .header-container .header-container-inner .header-right > div:first-child > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: #333;
  line-height: 1;
  padding-inline: 10px;
  text-decoration: none;
}
header .main-header .header-container .header-container-inner .header-right > div:first-child > a > span:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  height: 40px;
  font-weight: 600;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header .main-header .header-container .header-container-inner .header-right > div:nth-child(2) {
  color: #333;
}
@media (max-width: 1024px) {
  header .main-header .header-container .header-container-inner .header-right > div:nth-child(2) {
    display: none;
  }
}
header .main-header .header-container .header-container-inner .header-right > div:nth-child(2) > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: #333;
  line-height: 1;
  padding-inline: 10px;
  text-decoration: none;
}
header .main-header .header-container .header-container-inner .header-right > div:nth-child(2) > a > i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  height: 40px;
  font-size: 16px;
}
header .main-header .header-container .header-container-inner .header-right > div:nth-child(3) {
  color: #333;
}
@media (max-width: 1024px) {
  header .main-header .header-container .header-container-inner .header-right > div:nth-child(3) {
    display: none;
  }
}
header .main-header .header-container .header-container-inner .header-right > div:nth-child(3) > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 40px;
  color: #333;
  line-height: 1;
  padding-inline: 10px;
  text-decoration: none;
}
header .main-header .header-container .header-container-inner .header-right > div:nth-child(3) > a > i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  height: 40px;
  font-size: 16px;
}
header .main-header .header-container .header-container-inner .header-right > div:nth-child(3) > a span {
  font-weight: 600;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header .main-header .header-container .header-container-inner .header-right > div:nth-child(4) {
  color: #333;
}
header .main-header .header-container .header-container-inner .header-right > div:nth-child(4) > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 40px;
  color: #333;
  line-height: 1;
  padding-inline: 10px;
  text-decoration: none;
}
header .main-header .header-container .header-container-inner .header-right > div:nth-child(4) > a > i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  height: 40px;
  font-size: 16px;
}
header .main-header .header-container .header-container-inner .header-right > div:nth-child(4) > a span {
  font-weight: 600;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@media (max-width: 1024px) {
  header .main-header .header-container .header-container-inner .header-right > div:nth-child(4) > a span {
    display: none;
  }
}

.hero {
  margin-bottom: 40px;
  display: flex;
  height: 580px;
}
.hero .hero-left {
  display: flex;
  align-items: center;
  border-right-width: 2px !important;
  padding-top: 0px !important;
  border-right-color: #5e6821 !important;
  border-right-style: solid !important;
}
@media (max-width: 990px) {
  .hero .hero-left {
    display: none;
  }
}
.hero .hero-left .left-inner {
  margin-right: 70px;
}
.hero .hero-left .left-inner .mega-nav {
  flex-grow: 1;
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.hero .hero-left .left-inner .mega-nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero .hero-left .left-inner .mega-nav ul li {
  display: flex;
  flex: 1 1 100%;
  max-width: 100%;
  width: 100%;
}
.hero .hero-left .left-inner .mega-nav ul li a {
  text-decoration: none;
  font-size: 38px;
  line-height: 1.7em;
  font-weight: 300;
  color: #333;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.hero .hero-left .left-inner .mega-nav ul li a img {
  max-height: 18px;
  order: 1;
  margin-inline-start: 7px;
}
.hero .hero-left .left-inner .mega-nav ul li a span {
  font-weight: 500;
}
.hero .swiper {
  max-width: 1035px;
  max-height: 580px;
  margin-left: 40px;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .hero .swiper {
    max-width: 652px !important;
    margin-left: 0px;
    margin-left: 15px;
    margin-right: 15px;
  }
}
.hero .swiper-slide {
  font-size: 18px;
  background: #782424;
  display: flex;
  align-items: center;
  position: relative;
}
@media (max-width: 768px) {
  .hero .swiper-slide > img {
    width: 738px !important;
  }
}
.hero .swiper-slide .slide-text {
  color: white;
  position: absolute;
  bottom: 40px;
  left: 45px;
  max-width: 520px;
  margin-bottom: 20px;
}
.hero .swiper-slide .slide-text h4 {
  line-height: 1.4;
  font-weight: 500;
  font-size: 36px;
}
.hero .swiper-slide .slide-text p {
  font-size: 16px;
  color: rgba(214, 213, 210, 0.9);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}
.hero .swiper-slide .slide-text .star-text {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.hero .swiper-slide .slide-text .star-text .fourperson {
  width: 115px;
  height: 40px;
}
.hero .swiper-slide .slide-text .star-text h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: rgba(214, 213, 210, 0.9);
  gap: 5px;
}
.hero .swiper-slide .slide-text .star-text .green-btn {
  padding: 5px 20px;
  min-height: 42px;
  font-size: 13px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: none;
  background-color: #5E6821;
  border: none;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.hero .swiper-slide .slide-text .star-text .star {
  width: 93px !important;
  height: 23px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6px;
}
.hero .swiper-slide img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@font-face {
  font-family: "Clash Display";
  src: url("./fonts/ClashDisplay-Bold.woff2") format("woff2"), url("./fonts/ClashDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Clash Display";
  src: url("./fonts/ClashDisplay-Extralight.woff2") format("woff2"), url("./fonts/ClashDisplay-Extralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Clash Display";
  src: url("./fonts/ClashDisplay-Light.woff2") format("woff2"), url("./fonts/ClashDisplay-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Clash Display";
  src: url("./fonts/ClashDisplay-Medium.woff2") format("woff2"), url("./fonts/ClashDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Clash Display";
  src: url("./fonts/ClashDisplay-Regular.woff2") format("woff2"), url("./fonts/ClashDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Clash Display";
  src: url("./fonts/ClashDisplay-Semibold.woff2") format("woff2"), url("./fonts/ClashDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Clash Display";
  src: url("./fonts/ClashDisplay-Variable.woff2") format("woff2"), url("./fonts/ClashDisplay-Variable.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}/*# sourceMappingURL=main.css.map */